name: Build Flutter Windows App

on:
  push:
    branches:
      - main

jobs:
  build-windows:
    runs-on: [self-hosted, Windows]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set Flutter path
        shell: pwsh
        run: |
          echo "FLUTTER_HOME=C:\flutter_windows_3.29.2-stable\flutter" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          echo "C:\flutter_windows_3.29.2-stable\flutter\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Flutter Doctor
        shell: pwsh
        run: flutter doctor

      - name: Enable Windows desktop
        shell: pwsh
        run: flutter config --enable-windows-desktop

      - name: Install dependencies
        shell: pwsh
        run: flutter pub get

      - name: Build Windows App (Release)
        shell: pwsh
        run: flutter build windows --release

      - name: Upload Windows build artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-build
          path: build/windows/runner/Release/
