name: Build Flutter Android App

on:
  push:
    branches:
      - main

jobs:
  build-android:
    runs-on: [self-hosted, Windows]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set Flutter path
        shell: powershell
        run: |
          echo "FLUTTER_HOME=C:\flutter_windows_3.29.2-stable\flutter" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          echo "C:\flutter_windows_3.29.2-stable\flutter\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Mark Flutter SDK as safe directory
        shell: powershell
        run: git config --global --add safe.directory C:/flutter_windows_3.29.2-stable/flutter

      - name: Set Android SDK Path
        shell: powershell
        run: |
          echo "ANDROID_HOME=C:\Users\rites\AppData\Local\Android\sdk" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          echo "C:\Users\rites\AppData\Local\Android\sdk\tools\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          echo "C:\Users\rites\AppData\Local\Android\sdk\platform-tools" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Accept Android Licenses
        shell: powershell
        run: flutter doctor --android-licenses

      - name: Flutter Doctor
        shell: powershell
        run: flutter doctor -v

      - name: Get Flutter Dependencies
        shell: powershell
        run: flutter pub get

      - name: Build Android APK (Release)
        shell: powershell
        run: flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: android-apk
          path: build/app/outputs/flutter-apk/app-release.apk
